@import 'variables';

@import '~bootstrap/scss/bootstrap';
@import '~sweetalert2/dist/sweetalert2';
@import '~@fortawesome/fontawesome-svg-core/styles';

@import 'elements/card';
@import 'elements/navbar';
@import 'elements/buttons';
@import 'elements/transitions';
@import 'elements/switch';

@import 'components/server-error';

body {
  font-family: "Poppins", sans-serif !important;
}

.gf-header {
  padding: 0.8rem 1rem !important;
  background:#0d6efd;
  color:white;
  text-align:center; 
  font-size:4rem !important;
  font-weight: 600;
}

.gf-title {
  font-size: 4.5rem !important;
  text-align:center !important;
}

.gf-comment {
  font-size: 1.75rem !important;
  text-align: center !important;
}

.gf-line {
  background-color: black;
  opacity: 1 !important;
  height: 2px !important;
  margin-bottom: 20px;
}

.gf-item {
  font-size: 2rem !important;
}

.gf-subitem {
  font-size: 1.4rem !important;
  margin-bottom: 0.25rem !important;
}

.gf-button {
  font-size : 1.5rem !important;
  text-transform: uppercase !important;
  font-weight: 600;
}
.gf-button-active {
  font-size : 1.5rem !important;
  text-transform: uppercase !important;
  color: rgb(253, 245, 0) !important;
  font-style: italic;
  // transform: translateY(-4px);
  font-weight: 600;
}
.gf-button-done {
  font-size : 1.5rem !important;
  color: white !important;
  text-transform: uppercase !important;
  background-color: green !important;
  border: 1px solid green;
  font-style: italic;
  font-weight: 600;
}
.gf-button-done-active {
  font-size : 1.5rem !important;
  text-transform: uppercase !important;
  color: rgb(253, 245, 0) !important;
  background-color: green !important;
  border: 1px solid green;
  font-style: italic;
  // transform: translateY(-4px);
  font-weight: 600;
}


.gf-nav-item {
  font-size:1.25rem !important;
}

.gf-control {
  font-size : 1.5rem !important;
}

td:empty::after{
  content: "\00a0";
}

.jexcel_textarea {
  top: -3999px !important;
  left: -3999px !important;
}

thead.resizable {
  font-weight: 600;
}

.pushable {
  background: hsl(340deg 100% 32%);
  border: none;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
}
.front {
  display: block;
  padding: 12px 42px;
  background: hsl(345deg 100% 47%);
  color: white;
  transform: translateY(-6px);
}

.pushable:active .front {
  transform: translateY(-2px);
}

/* The Modal (background) */
.gf-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 3; /* Sit on top */
  padding-top: 300px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.gf-modal-header{
  background-color: #0d6efd;
  border-radius: 3px 3px 0px 0px;
  text-align: center;
  padding: 10px;
}

/* Modal Content */
.gf-modal-content {
  background-color: #fefefe;
  margin: auto;
  // padding: 20px;
  border: 1px solid #888;
  border-radius: 4px;
  width: 40%;
  text-align: center;
}

/* The Close Button */
.gf-close {
  color: #ffffff;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-right: 10px;
}

.gf-close:hover,
.gf-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.c3-axis-y-label {
  font-size: 1.25rem !important
}

.c3-axis-y2-label {
  font-size: 1.25rem !important
}

.c3-axis-x-label {
  font-size: 1.25rem !important
}

.c3-axis {
  stroke-width: 3px;
}

.c3 svg {
  font-size: 13px !important;
}